
<h1>{{title}}</h1>

<ul>
    {% for room in rooms %}
        <li><a href = "/rooms/{{ room.pk }}">
            {{ room.name }}<br/>
        {% for amenity in room.amenities.all %}
            <span>- {{ amenity.name }}</span>
        {% endfor %}</a></li>

    {% endfor %}
</ul>





{
    "name": "We are done!",
    "country": "한국",
    "city": "서울",
    "price": 100,
    "rooms": 4,
    "toilets": 2,
    "category":3,
    "amenities":[1,2,3],
    "description": "Room with owner and amenities and categories!",
    "address": "Seoul",
    "pet_friendly": true,
    "kind": "private_room"
}